@import '../theme-variables.scss';

.darkmode {
    header {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
        background-color: #282828;
        border-color: transparent;
    }
}


.header {
    border-bottom: solid 1px #ca2100;
    background-color: $generic-bg;
    transition: height .2s ease-in;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    height: 44px;
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;

    @include mq('900px'){
        padding: 0 10px;
    }

    .nav {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 922px;
        height: 44px;
        margin: auto;

        p, li {
            color: white;
        }

        .logo{
            padding-left: 8px;
            grid-area: 1/1;
            img {
               width: 24px; 
               cursor: pointer;
            }
        }


        .settings {
            grid-area: 1/2;
            ul {
                display: flex;
                justify-content:flex-end;

                li {
                    @include vertical-align;

                    width: 30px;
                    height: 30px;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        border-radius: 3px;
                        background-color: rgba(255,255,255,0.2);
                    }

                    &.settings__add {
                        margin-right: 15px;
                    }

                    &.settings__darkmode {

                    }
                }
            }
        }
    }
}

.sidebar {
    @include no-select();
    width: 266px;
    height: calc(100vh - 44px);
    padding-top: 74px;
    position: fixed;
    background: #fafafa;
    border-right: $generic-border;
    overflow-y: hidden;
    overflow-x: hidden;


    @include mq('900px'){
        display: none;

    }

    li {
        padding-left: 10px;
        padding-right: 15px;
        &:hover .sidebar__project-delete {
            display: block;
        }
    }


    &__generic{
        li {
            padding: 10px 0 10px 10px;
            color: #333;
            display: flex;
            cursor: pointer;
            line-height: 1.5;
            font-size: 15px;

            span:first-of-type{
                margin-right: 10px;

                svg{
                    width: 18px;
                    height: 18px;
                    color: #555;
                    
                }
            }

            &.active, &:hover {
                background-color: white;
            }
        }
    }


    &__middle{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        border-bottom: $generic-border;
        padding-left: 10px;
        cursor: pointer;

        span{
            color: #000000;
            margin-right: 10px;

            svg.hidden-projects{
                transform: rotate(-90deg);
            }
        }

        h2{
            margin: 0;
            color: #333;
            font-size: 15px;
            font-weight: bold;
            padding-bottom: 20px;
        }
    }


    &__projects {
        padding-left: 3px;
    }

    &__project {
        @include vertical-align('left');
    }


    &__project {
        padding: 8px 0;
        cursor: pointer;

        &-delete {
            margin-left: auto;
            display: none;
            height: 16px;
            width: 16px;

            svg {
                color: #cacaca;
            } 
        }


        &.active, &:hover {
            background-color: #fff; 
        }

        &:nth-child(1){
            .sidebar__project-dot {
                background-color: #6accbc
            }
        }
        &:nth-child(2){
            .sidebar__project-dot {
                background-color: #fad003
            }
        }
        &:nth-child(3){
            .sidebar__project-dot {
                background-color: #ff8d85
            }
        }
        &:nth-child(4){
            .sidebar__project-dot {
                background-color: #af38eb
            }
        }

        &-dot{
            margin-right: 10px;
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #000;
        }


    }

}


.project-delete-modal {
    position: relative;

    &__inner {
        @include box-overlay();
        z-index: 99;
        width: 200px;
        padding: 10px;
        top:10px;
        right:0;
        background-color: #fff;

        p {
           margin-top: 5px;
           margin-bottom: 5px;
           line-height: normal;
           font-size: 15px;
           font-weight: normal; 
        }

        .action-buttons {
            button {
                @include btn('54px');

                &.action-buttons__cancel {
                    @include cancel(); 
                }
            }


            
        }
    }
}



.content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    max-width: 922px;
    margin: auto
}


.tasks {
    width: 656px;
    background-color: #fff;
    margin-left: 266px;
    border-right: $generic-border;
    min-height: 100vh;
    padding: 80px 40px;

    @include mq('900px'){
        margin-left: 0;
        width: auto;
    }

    h2{
        font-size: 20px;
        font-weight: normal;
        margin: 0 30px 20px 0;
    }

    .add-task {
        margin-top: 20px;
    }

    &__list li {
        display: flex;
        line-height: 18px;
        color: #333;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;


        .checkbox-holder {
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 16px;


            .checkbox{
                cursor: pointer;
                color: #343434;
                height: 16px;
                width: 16px;
                display: block;
                border: 1px solid grey;
                border-radius: 20px;
            }
        }
    }

}


.add-project{
    padding-left: 13px;
    padding-right: 20px;
    margin-top:20px;

    &__input {
        margin-bottom: 20px;
    }

    &__name{
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;

    }

    button{
        @include btn('100px');
    }

    &__cancel{
        @include cancel();
    }
}



.add-task {
    &__overlay{
        background: rgba(102, 102 , 102, 0.5);
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2000;
        transition: opacity 0.2s ease-in;
        height: 100vh;


        .add-task__main{
            overflow: visible;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px 30px;

            .add-task-header {
                font-size: 15px;
                float: left;
                margin-bottom: 20px;
            }
        }

        .add-task__cancel-x{
            cursor: pointer;
            color: gray;
            float: right;
            font-weight: bold;
            line-height: 14px;
            font-size: 20px;
        }
    }

    &__main{
        position: relative;
    }

    &__project, &__date{
        cursor: pointer;
        float: right;
        color: gray;
        margin: 20px 10px;
    }

    &__project {
        margin-right: 0;
    }
    &__content {
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff !important;
        border-radius: 3px;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__cancel, &__submit {
        @include no-select;
    }

    button {
        @include btn('90px');
    }

    &__cancel{
        @include cancel();
    }

}

.add-task__shallow, .add-project {
    @include no-select;
    cursor: pointer;
    margin-bottom: 20px;
}



.task-date {
    @include box-overlay();
    background-color: #fff;
    width: 200px;
    right: 0;

    &__list li {
        @include task-item();


        span:first-of-type {
            margin-right: 10px;
            svg {
                fill: grey;
            }
        }
    }

}


.project-overlay {
    @include box-overlay();
    background-color: #fff;


    &__list li {
        @include task-item();
    }
}



.add-task__text, .add-project__text{
    display: inline-block;
    color: #545454;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
    
    .add-task__plus, .add-project__plus{
        color: #dd4b39;
        font-size: 16px;
        display: inline-block;
        height: 16px;
        width: 16px;
        line-height: 16px;
        margin-right: 10px;
        text-align: center;
        border-radius: 50%;
        transition: .2s;
    }

    &:hover {
        color: #dd4b39;
        .add-project__plus, .add-task__plus{
            background: #dd4b39;
            color: white;
        }
    }

}





 