*, html {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-size-adjust: 100%;
    font-family: 'Solway', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
}


body {
    padding:0;
    margin: 0;
    line-height: 1;
    color: #202020;
    background-color: #fafafa;
}




