$generic-box-shadow: rgba(0, 0, 0, .1) 0px 0px 0px 1px, rgba(0, 0, 0,  0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;


@mixin box-overlay() {
   box-shadow: $generic-box-shadow; 
   position: absolute;
   width: 100%;
   z-index: 1;
   top: 85px;
   border-radius: 3px;
}

@mixin vertical-align($va-align: center) {
    display: flex;
    align-items: center;

    @if $va-align != center {
        justify-content: left;
    } @else {
        justify-content: center;
    }
}


@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin btn($width) {
    width: $width;
    background-color: $generic-bg;
    color: #fff !important;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 13px !important;
    line-height: 17px;
    padding: 6px 12px 7px 12px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px !important;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background-color: darken($color: $generic-bg, $amount: 10);
    }
}

@mixin cancel() {
    background: #555 !important;
    &:hover {
        background-color: darken($color: #555, $amount: 10) !important;
    }
}

@mixin task-item() {
    list-style-type: none;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
    cursor: pointer;

    &:hover{
        background-color: #f9f9f9;
    }
}


@mixin mq($from) {
    @media (max-width: $from){
        @content;
    }
}